/* Write your code here. */
.emoji-bg {
  background-image: linear-gradient(to right, #9796f0, #fbc7d4);
  height: 100vh;
}
.for-emojicard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 40px;
}
.forUl {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
